        <div class="pc">
          <b><a href="http://www.cs.cmu.edu/~./aldrich/">Jonathan Aldrich</a></b>, Carnegie Mellon University
          <br/><b>Michael Armbrust</b>, Databricks
          <br/><b>Marius Eriksen</b>, Twitter
          <br/><b><a href="http://cs.brown.edu/~sk/">Shriram Krishnamurthi</a></b>, Brown University
          <br/><b><a href="http://g.oswego.edu/">Doug Lea</a></b>, SUNY Oswego
          <br/><b>Erik Meijer</b>, Applied Duality/TU Delft
          <br/><b><a href="http://i.cs.hku.hk/~bruno/">Bruno Oliveira</a></b>, The University of Hong Kong
          <br/><b><a href="http://www.informatik.uni-marburg.de/~kos/">Klaus Ostermann</a></b>, University of Marburg
          <br/><b><a href="http://axel22.github.io/home/professional/">Aleksandar Prokopec</a></b>, EPFL
          <!-- <br/><b>Vivek Sarkar</b>, Rice University -->
          <br/><b><a href="http://ilyasergey.net/">Ilya Sergey</a></b>, IMDEA Software Institute
          <br/><b><a href="http://researcher.ibm.com/researcher/view.php?person=us-psuter">Philippe Suter</a></b>, IBM Research
          <br/><b><a href="http://www.ccs.neu.edu/home/samth/">Sam Tobin-Hochstadt</a></b>, Indiana University
          <br/><b><a href="http://soft.vub.ac.be/~tvcutsem/invokedynamic/">Tom Van Cutsem</a></b>, Alcatel-Lucent Bell Labs, Belgium
          <br/><b><a href="http://www.info.ucl.ac.be/~pvr/cvvanroy.html">Peter Van Roy</a></b>, Catholic University of Louvain
          <br/><b><a href="http://people.csail.mit.edu/zufferey/">Damien Zufferey</a></b>, MIT
        </div>
