        <div class="pc">
          <b>Jonathan Aldrich</b>, Carnegie Mellon University
          <br/><b>Michael Armbrust</b>, Databricks
          <br/><b>Marius Erkisen</b>, Twitter
          <br/><b>Shriram Krishnamurti</b>, Brown University
          <br/><b>Doug Lea</b>, SUNY Oswego
          <br/><b>Erik Meijer</b>, Applied Duality/TU Delft
          <br/><b>Bruno Oliveira</b>, The University of Hong Kong
          <br/><b>Klaus Ostermann</b>, Univeristy of Marburg
          <br/><b>Aleksandar Prokopec</b>, EPFL
          <!-- <br/><b>Vivek Sarkar</b>, Rice University -->
          <br/><b>Ilya Sergey</b>, IMDEA Software Institute
          <br/><b>Philippe Suter</b>, IBM Research
          <br/><b>Sam Tobin-Hochstadt</b>, Indiana University
          <br/><b>Tom Van Cutsem</b>, Alcatel-Lucent Bell Labs, Belgium
          <br/><b>Peter Van Roy</b>, Catholic University of Louvain
          <br/><b>Damien Zufferey</b>, MIT
        </div>
