<ul>
  <li><b>Marius Eriksen</b>, Twitter</li>
  <li><b>Viktor Kuncak</b>, EPFL</li>
  <li><b>Mira Mezini</b>, TU Darmstadt</li>
  <li><b>Matt Might</b>, University of Utah</li>
  <li><b>Nate Nystrom</b>, University of Lugano</li>
  <li><b>Bruno Oliveira</b>, National University of Singapore</li>
  <li><b>Kunle Olukotun</b>, Stanford University</li>
  <li><b>Aleksandar Prokopec</b>, EPFL</li>
  <li><b>Lukas Rytz</b>, EPFL</li>
  <li><b>David Van Horn</b>, Northeastern University</li>
  <li><b>Tobias Wrigstad</b>, Uppsala University</li>
</ul>