---
---

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background-color: #073642;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.3em;
}

a:link, a:visited {
  text-decoration: none;
  color: #E74C3C;
  font-weight: 600;
  border-bottom: 2px solid rgba(149, 165, 166, 0.5);
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

a:hover {
  text-decoration: none;
  color: #18444F;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

::selection {
  background: #BAC172;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  margin-top: 1em;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px rgba(0,0,0,0.4);
}

h2 {
  color: #5a5a5a;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #fff;
}

h3 {
  color: #5A5A5A;
  text-transform: uppercase;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;s
}

h5 {
  font-size: 18px;
}

p {
  display: block;
  margin-before: 1em;
  margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

li {
  line-height: 1.5em;
  color: #57676e;
  margin-bottom: 0.5em;
  -webkit-margin-start: 6px;
  -webkit-margin-end: 0px;
}

ul {
  list-style-image: url({{ site.baseurl }}/resources/img/arrow.png);
}

ul > li {
 color: #ffffff;
 text-shadow: 0 1px 1px #000;
 margin-left: 24px;
}

.splash {
  position: relative;
  background: url({{ site.baseurl }}/resources/img/uppsala.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.circle-yellow {
  position: relative;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(243, 156, 18, 0.6);
  /*background-color: rgba(241, 196, 15, 0.7);*/
  /*background-color: rgba(241, 254, 126, 0.5);*/
}

.circle-blue {
  position: relative;
  z-index: 0;
  margin-left: 60px;
  margin-top: -160px;
  width: 500px;
  height: 500px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(19, 63, 75, 0.8);
}

.scala2014 {
  text-align: center;
  padding-top: 20px;
  font-size: 70px;
}

.scala {
  font-family: "museo-slab",serif;
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
}

.year {
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 100;
  color: #E74C3C;
}

.annual {
  padding-top: 80px;
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
  color: #95A5A6;
  text-align: center;
}

.dates {
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 400;
  padding-top: 34px;
  padding-left: 80px;
  font-size: 36px;
  /*color: rgba(241, 196, 15, 1);*/
  /*color: rgba(241, 254, 126, 1);*/
  color: rgba(243, 156, 18, 1);
}

.location {
  font-family: "petala-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: .1em;
  font-size: 18px;
  padding-top: 14px;
  padding-left: 80px;
}

.sweden {
  margin-top: -200px;
  margin-left: 240px;
  height: 380px;
  width: 235px;
  background-image: url('{{ site.baseurl }}/resources/img/sweden.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .sweden {
    background-image: url('{{ site.baseurl }}/resources/img/sweden@2x.png');
    background-size: 235px 380px;
  }
}

.inner-third{
  height: 100%;
  width: 100%;
  background: #E74C3C;
  border: none;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
}

.inner-second{
  height: 100%;
  width: 100%;
  background: transparent;
  border: 6px solid #E74C3C;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
}

.inner-first{
  height: 100%;
  width: 100%;
  background: transparent;
  border: 3px solid #E74C3C;
  border-radius: 50%;
  padding: 1px;
  box-sizing: border-box;
}
.map-marker {
  position: relative;
  left: 318px;
  top: -150px;
  width: 48px;
  height: 48px;
  margin: 1%;
}

.coloc {
  width: 150px;
  position: relative;
  top: -182px;
  left: 80px;
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  color: #95A5A6;
  line-height: 0.9em;
  text-align: right;
}

.coloc a:link, .coloc a:visited {
  font-weight: 100;
  color: #95A5A6;
}

.coloc a:hover {
  color: #E74C3C;
}

.tagline {
  position: relative;
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  line-height: 1em;
  margin-top: 90px;
  margin-bottom: 90px;
}

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

.scala-font {
  font-family: "museo-slab",serif;
  font-style: normal;
  font-weight: 800;
}

.red {
  color: #E74C3C;
}

.white {
  color: #fff;
}

.blue-stripe {
  background-color: #073642;
  /*padding-bottom: 80px;*/
  /*margin-top: -20px;*/
}

.yellow-stripe {
  margin-top: -50px;
  /*min-height: 400px;*/
  /*background-color: #F1FE7E;*/
  /*background-color: rgba(241, 254, 126, 1);*/
  /*background-color: #F1C40F;*/
  /*background-color: rgba(241, 196, 15, 1);*/
  /*background-color: #fff;*/
  /*background-color: #95A5A6;*/
  background-color: rgba(243, 156, 18, 1);
}

.arrow-down {
  z-index: 2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.blue {
  border-top: 50px solid #073642;
}

.yellow {
  border-top: 50px solid rgba(243, 156, 18, 1);
}

/*.white {
  border-top: 50px solid #fff;
}*/

.gray {
  border-top: 50px solid #95A5A6;
}

.transp-blue {
  background-color: rgba(19, 63, 75, 0.2);
  min-height: 30px;
}

.transp-blue-arrow {
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid rgba(19, 63, 75, 0.2);
}

.inside-stripe {
  padding-top: 100px;
  padding-bottom: 100px;
}

.after-arrow {
  margin-top: -100px;
}

.transp-yellow {
  background-color: rgba(243, 156, 18, 0.2);
  min-height: 30px;
}

.transp-yellow-arrow {
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid rgba(243, 156, 18, 0.2);
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('{{ site.baseurl }}/resources/glyphs/entypo.eot');
    src: url('{{ site.baseurl }}/resources/glyphs/entypo.eot?#iefix') format('embedded-opentype'),
         url('{{ site.baseurl }}/resources/glyphs/entypo.woff') format('woff'),
         url('{{ site.baseurl }}/resources/glyphs/entypo.ttf') format('truetype'),
         url('{{ site.baseurl }}/resources/glyphs/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.entypo {
  font-family: 'EntypoRegular';
  font-size: 2em;
  font-weight: normal;
  line-height: 0;
}

.entypo.heart:before{ content:'\2665'; color: #E74C3C; font-style: normal;}

.sponsors {
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.sponsors-text, .need-sponsors {
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 100;
  color: #95A5A6;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.3em;
}

.need-sponsors {
  font-size: 32px;
  margin-top: 32px;
  color: #E74C3C;
  font-weight: 600;
}

.sponsor-logos a:link, .sponsor-logos a:visited {
  border: none;
}

.centered {
  text-align: center;
}

.contact {
  margin-top: 20px;
  color: #fff;
}

.contact a:hover {
  color: #fff;
}

.copyright {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 12px;
  line-height: 1.2em;
  position: relative;
  float: left;
}

.scala-logo-footer {
  position: relative;
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}

.blue-text {
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  /*color: #fff;*/
  color: #073642;
  text-align: center;
  margin-bottom: 20px;
}

.format {
  color: #fff;
}

.format .title {
  text-align: center;
  border-bottom: 3px solid rgba(149, 165, 166, 0.4);
}

.format .title > h1 {
  display:inline-block;
  font-family: "petala-pro",sans-serif;
  font-style: italic;
  font-weight: 600;
  text-transform: none;
  font-size:36px;
  position:relative;
  top: 26px;
  background:#073642;
  padding:0 12px;
}

.format > .academic {

}

.format > .industrial {

}