---
layout: default
---

{% include header.html %}

<div class="splash">
  <div class="container">
    <div class="circle-yellow">&nbsp;</div>
    <div class="circle-blue">
      <div class="annual">the fifth annual Scala Workshop</div>
      <div class="scala2014">
        <span class="scala">Scala</span><span class="year">2014</span>
      </div>
      <div class="dates">July 28-29<sup>th</sup></div>
      <div class="location">Uppsala, Sweden</div>
      <div class="sweden"></div>
      <div class="inner-first map-marker">
        <div class="inner-second">
          <div class="inner-third">
          </div>
        </div>
      </div>
      <div class="coloc">co-located with <a href="http://ecoop14.it.uu.se">ECOOP</a></div>
    </div>
  </div>
</div>

<div class="blue-stripe">
  <div class="container">
    <div class="tagline">The leading forum for <span class="red">research</span> <span class="amp">&</span> <span class="red">development</span> related to the <span class="scala-font">Scala</span> programming language.</div>
  </div>
</div>

<div class="arrow-down blue"></div>
<div class="yellow-stripe">
  <div class="transp-blue-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-blue"></div>
  <div class="inside-stripe container">
    this is something
  </div>
</div>

<div class="arrow-down yellow"></div>
<div class="blue-stripe" style="margin-top: -50px;">
  <div class="transp-yellow-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-yellow"></div>
  <div class="inside-stripe container">
    this is something
  </div>
</div>

<div class="arrow-down blue"></div>
<div class="yellow-stripe">
  <div class="transp-blue-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-blue"></div>
  <div class="inside-stripe container">
    this is something
  </div>
</div>

<div class="arrow-down yellow"></div>
<div class="blue-stripe" style="margin-top: -50px;">
  <div class="transp-yellow-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-yellow"></div>
  <div class="inside-stripe container">
    <div class="sponsors">We <span class="entypo heart"></span> these folks</div>
    <div class="sponsors-text">
      Sponsoring ECOOP by supporting some of the talented student attendees of Scala'14.
    </div>
    <div class="sponsor-logos centered">
      <a href="http://www.typesafe.com"><img src="{{ site.baseurl }}/resources/img/typesafe-logo.png"></a>
    </div>
    <div class="need-sponsors">
      Wanna help?
    </div>
    <div class="sponsors-text">
      Sponsorship money covers registration fees for some students that are presenting Scala projects.
      <br/>Sponsoring companies can also participate in the workshop by presenting a pitch & networking with students.
      <br/>Contact us if you're interested in sponsoring Scala'14!
      <br/>
    </div>
  </div>
</div>

{% include footer.html %}