---
layout: default
---

{% include header.html %}

<div class="splash">
  <div class="container">
    <div class="circle-yellow">&nbsp;</div>
    <div class="circle-blue">
      <div class="annual">the fifth annual Scala Workshop</div>
      <div class="scala2014">
        <span class="scala">Scala</span><span class="year">2014</span>
      </div>
      <div class="dates">July 28-29<sup>th</sup></div>
      <div class="location">Uppsala, Sweden</div>
      <div class="sweden"></div>
      <!-- <div class="map-pin"><span class="entypo map">&nbsp;</span></div> -->
      <div class="inner-first map-marker">
        <div class="inner-second">
          <div class="inner-third">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="tagline">
    Academic. Industrial. Open Source.
  </div>
</div>

{% include footer.html %}