---
layout: default
---

{% include header.html %}

<div class="splash">
  <div class="container">
    <div class="circle-yellow">&nbsp;</div>
    <div class="circle-blue">
      <div class="annual">the fifth annual Scala Workshop</div>
      <div class="scala2014">
        <span class="scala">Scala</span><span class="year">2014</span>
      </div>
      <div class="dates">July 28-29<sup>th</sup></div>
      <div class="location">Uppsala, Sweden</div>
      <div class="sweden"></div>
      <div class="inner-first map-marker">
        <div class="inner-second">
          <div class="inner-third">
          </div>
        </div>
      </div>
      <div class="coloc">co-located with <a href="http://ecoop14.it.uu.se">ECOOP</a></div>
    </div>
  </div>
</div>

<div class="blue-stripe">
  <div class="container">
  <!--   <div class="tagline">
      Academic. </br>Industrial. </br>Open Source.
    </div> -->
    <div class="join-us-title">The leading forum for <span class="red">research</span> <span class="amp">&</span> <span class="red">development</span> related to the <span class="scala-font">Scala</span> programming language.</div>
  <!--   <div class="join-us">
      Join us for two full days of research talks, tool demos, and opportunities to engage with researchers, practitioners, and students working with or interested in the Scala programming language. The Scala workshop is a venue for exploring ongoing work on programming languages and software engineering, intent on bridging the gap between industry and academia.
    </div> -->
  </div>
</div>


<div class="arrow-down"></div>
<div class="yellow-stripe">
  <div class="container">
    this is something
  </div>
</div>

{% include footer.html %}